@page "/registrarconsulta"

@using RegistroYConsultaDeClientes.BLL;
@using RegistroYConsultaDeClientes.Model;

@inject ClienteBLL clientesBLL

<PageTitle>Registrar Consulta</PageTitle>

<h3>Registrar Consulta</h3>
<br>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">ClienteId</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Nombres</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Telefono</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Celular</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">RNC</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Direccion</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>

<br>
<br>

<button class="btn btn-success" >Registrar</button>
@code {

    [Parameter]
    public int ClienteId { get; set; }

    public Clientes cliente { get; set; } = new Clientes();

    protected override void OnInitialized()
    {
        if (ClienteId > 0)
        {
            this.cliente.ClienteId = ClienteId;
            this.Buscar();
        }
    }

    void Buscar()
    {
        var clienteEncontrado = clientesBLL.Buscar(cliente.ClienteId);

        if (clienteEncontrado != null)
            this.cliente = clienteEncontrado;

    }

    void Nuevo()
    {
        this.cliente = new Clientes();
    }

    void Guardar()
    {
        if (!Validar())
            return;
        if (clientesBLL.Guardar(this.cliente))
            this.Nuevo();
    }

    bool Validar()
    {
        if (string.IsNullOrWhiteSpace(cliente.Nombres)  || 
            string.IsNullOrWhiteSpace(cliente.Telefono) || 
            string.IsNullOrWhiteSpace(cliente.Celular)  ||
            string.IsNullOrWhiteSpace(cliente.RNC)      ||
            string.IsNullOrWhiteSpace(cliente.Email)    ||
            string.IsNullOrWhiteSpace(cliente.Direccion))
            return false;
        return true;
    }

    void Eliminar()
    {
        if (cliente.ClienteId > 0)
            if (clientesBLL.Eliminar(cliente.ClienteId))
                this.Nuevo();
            else
            {
                
            } 

    }
   
    
}
